html{
    background-image: url("pictures/Background.jpg");
}

body{
    color: white;
    text-align: center;
}
h1{
    text-align: center;
}

p{
text-align: center;
}

#loginbutton{
    margin-right: 70px;
    margin-left: 10px;
    background: gray;
    color: black;
    border-radius: 4px;
    border: solid 1px;
    box-shadow: 0 1px 0;
}

#loginbutton:active{
    transform: translateY(4px);
}

#CreateUserbutton{
    background: gray;
    color: black;
    border-radius: 4px;
    border: solid 1px;
    box-shadow: 0 1px 0;
}

#CreateUserbutton:active{
    transform: translateY(4px);
}
#name{
    background-color: gray;
    border-color: gray;
}
#pass{
    background-color: gray;
    border-color: gray;
}
#Name{
    color: pink;
}
canvas{
    background-color: white;
    margin-top: 50px;
}
#age{
    background-color: gray;
    border-color: gray;
}
#email{
    background-color: gray;
    border-color: gray;
}
#question1{
    background-color: gray;
    border-color: gray;
}
#question2{
    background-color: gray;
    border-color: gray;
}
#question3{
    background-color: gray;
    border-color: gray;
}
#submitnewuser{
    background: gray;
    color: black;
    border-radius: 4px;
    border: solid 1px;
    box-shadow: 0 1px 0;
}
#submitnewuser :active{
    transform: translateY(4px); 
}